<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular1")
    @Scripts.Render("~/bundles/angular_ui")



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      
            <div class="container" ng-controller="modals">
                @Html.Partial("_LoginPartial")
            </div>
        
    </div>
    <div class="cover">
        <div class="cover-image" style="background-image : url('http://pingendo.github.io/pingendo-bootstrap/assets/blurry/800x600/2.jpg')"></div>
        <div>
            @RenderBody()
        </div>
    </div>

    <hr />
    <footer>
        <div class="bg-info">
            <div class="container">
                <div class="row">
                    <div class="p-4 col-md-3">
                        <h2 class="mb-4 text-secondary">Pingendo</h2>
                        <p class="text-white">A company for whatever you may need, from website prototyping to publishing</p>
                    </div>
                    <div class="p-4 col-md-3">
                        <h2 class="mb-4 text-secondary">Mapsite</h2>
                        <ul class="list-unstyled">
                            <a href="#" class="text-white">Home</a>
                            <br>
                            <a href="#" class="text-white">About us</a>
                            <br>
                            <a href="#" class="text-white">Our services</a>
                            <br>
                            <a href="#" class="text-white">Stories</a>
                        </ul>
                    </div>
                    <div class="p-4 col-md-3">
                        <h2 class="mb-4 text-secondary">Contact</h2>
                        <p>
                            <a href="tel:+246 - 542 550 5462" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
                        </p>
                        <p>
                            <a href="mailto:info@pingendo.com" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@pingendo.com</a>
                        </p>
                        <p>
                            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 Park Street, NY</a>
                        </p>
                    </div>
                    <div class="p-4 col-md-3">
                        <h2 class="mb-4 text-secondary">Subscribe</h2>
                        <form>
                            <fieldset class="form-group text-white">
                                <label for="exampleInputEmail1">Get our newsletter</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                            </fieldset>
                            <button type="submit" class="btn btn-outline-secondary">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <p class="text-center text-white">© Copyright 2017 Pingendo - All rights reserved. </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery2")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/ng-template">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            
        </div>
        <div class="modal-footer">
     
        </div>
    </script>
</body>
</html>




    